[tool.ruff]
# Target version
target-version = "py310"


# Exclude a variety of commonly ignored directories.
exclude = [
    ".git",
    ".ruff_cache",
    ".vscode",
    "venv",
    "migrations",
]

line-length = 88


[tool.ruff.lint]
# Rules
select = [
    "E",   # pycodestyle errors
    "W",   # pycodestyle warnings
    "F",   # pyflakes
    "I",   # isort
    "C",   # flake8-comprehensions
    "B",   # flake8-bugbear
    "DJ",  # flake8-django
]

ignore = []

# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []


[tool.ruff.lint.isort]
known-first-party = ["backend"]
